[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
torchvision = "*"
torch = "==1.2.0"
scipy = "*"
numpy = "*"
coverage = "*"
tqdm = "*"

[requires]
python_version = "3.7"
